@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    background: linear-gradient(#08D9D6,#FF2E63);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    background-color: #252A34;
    width: 90vmin;
    height: 92vmin;
    border: 10px solid #EAEAEA;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
}

#name1{
    position: absolute;
    left: 20px;
    font-size: 107px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#name2{
    position: absolute;
    top: 240px;
    left: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#scorebox{
    position: absolute;
    right: 140px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscorebox{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.head{
    background-color: #08D9D6;
    border: 2px solid #252A34;
    border-radius: 9px;
}

.tail{
    background-color: #FF2E63;
    border: .25vmin solid #252A34;
    border-radius: 9px;
}

.food{
    background-color: #f3ff09;
    border-radius: 20px;
}