*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEEEE;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ADB5;
    margin-bottom: 30px;
}
nav h1{
    color: #EEEEEE;
    font-size: 3.5rem;
    padding: 15px 0;
}

.container{
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 15px;
}

.container .cityinput{
    width: 35%;
}
#city{
    width: 70%;
    height: 30px;
    font-size: 15px;
    background-color: #EEEEEE;
    padding-left: 5px;
}
.searchbtn{
    width: 25%;
    height: 30px;
    font-size: 15px;
    background-color: #00ADB5;
    border: none;
    outline: none;
    color: #EEEEEE;
    cursor: pointer;
    border-radius: 5px;
}
.seperator{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #222831;
}
.currentloc{
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: #393E46;
    color: #EEEEEE;
    cursor: pointer;
}

.container .weatherdata{
    width: 60%;
    border: 1px solid black;
    background-color: #00ADB5;
    color: #EEEEEE;
    display: flex;
}
.details{
    padding: 10px;
    width: 65%;
    text-align: center;
}
.details h2{
    font-size: 40px;
    padding: 10px;
}
.details p{
    font-size: 20px;
    padding: 5px;
}
.weathericon{
    width: 40%;
}
.weathericon img{
    height: 150px;
}
.weathericon p{
    font-size: 20px;
    padding: 0px 0px 15px 35px;
    margin-top: -20px;
    text-transform: capitalize;
}

.forcast{
    margin: 10px;
}
.forcast h2{
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
.forcastcards{
    display: flex;
    gap: 20px;
}
.cards{
    background-color: #393E46;
    color: #EEEEEE;
    width: 25%;
    font-size: 20px;
    padding: 10px;
}
.cards h3{
    text-align: center;
    font-size: 25px;
}
.cards .txt{
    margin: -110px 0px 0px 120px;
    padding: 0px;
}
.cards img{
    margin: 0px 0px 45px 55px;
}
.cards p{
    padding-top: 20px;
    text-align: center;
}